$co-side-nav-font-size: 16px;

.dropdown--full-width {
  &,
  .pf-c-dropdown__toggle {
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: var(--pf-c-dropdown__toggle--MinWidth);
    max-width: 100%;
    padding: var(--pf-c-dropdown__toggle--PaddingTop) var(--pf-c-dropdown__toggle--PaddingRight) var(--pf-c-dropdown__toggle--PaddingBottom) var(--pf-c-dropdown__toggle--PaddingLeft);
    font-size: var(--pf-c-dropdown__toggle--FontSize);
    font-weight: var(--pf-c-dropdown__toggle--FontWeight);
    line-height: var(--pf-c-dropdown__toggle--LineHeight);
    color: #1d1b1bd9;
    background-color: var(--pf-c-dropdown__toggle--BackgroundColor);
    border: none;
  }
  .pf-c-dropdown__menu {
    position: absolute;
    top: var(--pf-c-dropdown__menu--Top);
    z-index: var(--pf-c-dropdown__menu--ZIndex);
    min-width: 100%;
    padding-top: var(--pf-c-dropdown__menu--PaddingTop);
    padding-bottom: var(--pf-c-dropdown__menu--PaddingBottom);
    background: var(--pf-c-dropdown__menu--BackgroundColor);
    background-clip: padding-box;
    border: var(--pf-c-dropdown__menu--BorderWidth) solid transparent;
    box-shadow: var(--pf-c-dropdown__menu--BoxShadow);
  }
  .pf-c-dropdown__menu-item {
    padding: var(--pf-c-dropdown__menu-item--PaddingTop) var(--pf-c-dropdown__menu-item--PaddingRight) var(--pf-c-dropdown__menu-item--PaddingBottom) var(--pf-c-dropdown__menu-item--PaddingLeft);
    color: #1d1b1bd9;
  }
}

.pf-c-dropdown__toggle {
  h1 {
    font-size: $co-side-nav-font-size;
  }
}

.co-namespace-selector .dropdown-menu__autocomplete-filter {
  li {
    display: flex;
    padding: 0;
    &:focus {
      outline: none;
    }
    &.active a {
      background-color: var(--pf-global--BackgroundColor--150);
    }
    a {
      cursor: pointer;
      flex-grow: 1;
      width: 100%;
      &.disabled {
        color: var(--pf-global--Color--dark-200);
        cursor: not-allowed;
        &:active,
        &:focus,
        &:hover {
          background-color: inherit;
          border-color: transparent;
          color: var(--pf-global--Color--dark-200) !important;
        }
      }
      &.next-to-bookmark {
        padding-left: 5px
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

