
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  padding-left: 31px;
}
#root {
  padding-top: 11px;
  display: inline-table;
}
.grid-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 200px 1fr 40px;

  grid-template-areas: "navigation main" "navigation main" "buttons buttons";
  height: calc(100vh - 11px);
  overflow: hidden;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
}

.navigation {
  grid-area: navigation;
  overflow-y: auto;
}

.main { 
  grid-area: main; 
  overflow-y: auto;
  padding-left: 26px;
}

.buttons { grid-area: buttons; }

.startButton {
  height:22px; 
  margin: -20px -50px; 
  position:relative;
  top:33%; 
  left:50%;
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  width: auto;
  padding: 2px 14px;
  cursor: pointer;
}

.startButton:hover {
  background: var(--vscode-button-hoverBackground);
  color: var(--vscode-button-foreground);
}

.navigationItem {
  height: 22px;
  line-height: 22px;
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  color: var(--vscode-foreground);
  cursor: pointer;
}

.navigationItem-selected {
  font-weight: 700;
  color: var(--vscode-settings-headerForeground);
}

.editorGroup {
  color: var(--vscode-settings-headerForeground);
  font-size: 24px;
  padding-bottom: 12px;
}
.editorLabel {
  color: var(--vscode-settings-headerForeground);
  font-weight: 600;
  font-size: var(--vscode-font-size);
}

.editItem {
  padding-top: 12px;
  padding-bottom: 18px;
  white-space: normal;
  width: 500px;
}

.inner-editItem {
  padding-top: 12px;
  white-space: normal;
  width: 500px;
}

.input {
  text-overflow: ellipsis;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  /* font: 400 11px system-ui; */
  padding: 1px;
}

.editor-input-box {
  position: relative;
  display: block;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--vscode-font-size);
  width: 466px;
  height: 26px;
  background-color: var(--vscode-settings-textInputBackground);
  color: var(--vscode-settings-textInputForeground);
  line-height: 1.4em!important;
  margin-top: 8px;
}

.editor-input-box-input {
  position: relative;
  display: block;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--vscode-font-size);
  width: 466px;
  height: 26px;
  background-color: var(--vscode-settings-textInputBackground);
  color: var(--vscode-settings-textInputForeground);
  line-height: 1.4em!important;
  margin-top: 8px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-input-box>.wrapper>.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: inherit;
  border: none;
  font-family: inherit;
  font-size: var(--vscode-font-size);
  resize: none;
  background-color: inherit;
  color: inherit;
  outline-color: var(--vscode-sideBarSectionHeader-border);
  outline-width: 1px;
  outline-style: solid;
}

.editor-input-box>.wrapper>.input:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 1px;
  outline-style: solid;
  opacity: 1!important;
}

.select-container {
  margin-top: 9px;
  font-family: inherit;
  font-size: inherit;
}

.select-container:after {
  content: "\eab4";
  font-family: codicon;
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  position: relative;
  top: 3px;
  bottom: 0;
  right: 18px;
  margin: auto;
  pointer-events: none;
}

.editor-select-box {
  width: 466px;
  font-family: inherit;
  font-size: var(--vscode-font-size);
  border: 1px solid;
  background-color: var(--vscode-settings-dropdownBackground);
  color: var(--vscode-settings-dropdownForeground);
  border-color: var(--vscode-settings-dropdownBorder);
  height: 26px;
  padding: 2px 8px;
  align-items: center;
  -webkit-appearance: none;
}

.editor-select-box:focus {
  outline-color: var(--vscode-focusBorder);
  outline-width: 1px;
  outline-style: solid;
  opacity: 1!important;
}

