:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

ol,
ul {
	padding-left: var(--container-paddding);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type='checkbox']),
textarea {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

.contain-style {
	top: 2%;
    position: relative;
}

li.li-style { 
	padding :  .6rem .1rem;
	margin : 0;
	position : relative
}
  
ul.ul-color { list-style : none; padding : 0; color : var(--vscode-foreground); background-color : var(--vscode-editor-background) }

ul.ul-position {}

li.li-style li.li-style:hover { color : var(--vscode-foreground); background-color : var(--vscode-input-background) }
  
li.li-style li.li-style.current { color : var(--vscode-foreground); background-color : var(--vscode-editor-background) }

.select-list-group, .select-list-group * {
	width: 100%;
}
.select-list-group [data-toggle="false"] {
	display: none;
}
.select-list-group [data-toggle="true"] {
	display: inherit;
	-webkit-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);
}
.select-list-group li[data-display="false"] {
	display: none;
}
.select-list-group li[data-display="true"] {
	display: inherit;
}
.select-list-group li[data-highlight="false"] {
	border-left: 5px solid transparent;
}
.select-list-group li[data-highlight="true"] {
	border-left: 5px solid var(--vscode-focusBorder);
	background-color: var(--vscode-focusBorder);
}
